<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><strong>REST COUNTRIES</strong></a>
  <a class="navbar-brand">powered by: Carlos Monterrosa</a>
  <a class="navbar-brand" href="#">
    <img src="https://qroo.gob.mx/sites/default/files/inline-images/TecChetumal-232x300_0.png" width="90" height="105" alt="">
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
<br>
<p class="fp">El proyecto <strong>restcountries</strong> ha sido adquirido por apilayer, uno de los principales proveedores de microservicios API. Seguiremos apoyando los países de descanso y proporcionándola como una solución gratuita para los desarrolladores. Financiaremos este proyecto por completo y desactivaremos la función de donaciones.</p>


<!-- to make the rows  -->
<div class="container">
  <div class="row align-items-center justify-content-center" >
   
      <div *ngFor="let pais of paises | async" class="card" style="width: 18rem; margin: auto;">
        <img class="card-img-top" src="{{pais.flag}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pais.name}}</h5>
          <h6>capital: {{pais.capital}}</h6>
          <h6>populación: {{pais.population}}</h6>
          <p class="card-text">zona horaria: {{pais.timezones}}</p>
          <a href="#" class="btn btn-primary">región: {{pais.region }} </a>
        </div>
      </div>
  </div>
</div>